{{- $def := printf "%v" (site.Params.default_version | default "") -}}
{{- $raw := site.Data.versions -}}
{{- $list := cond (isset $raw "versions") $raw.versions $raw -}}

{{- $found := false -}}

{{- range $list -}}
  {{- if eq .key $def -}}
    {{- $found = true -}}
  {{- end -}}
{{- end -}}

<label
  style="display: none;"
  for="version-select"
>
  Choose Hub Version
</label>
<select
  id="version-select"
  onchange="window.__setVersion && window.__setVersion(this.value)"
  style="color: var(--hx-color-gray-400);"
>
  <option value="" disabled hidden>Select Hub Version</option>
  </option>
  {{- range $list -}}
    <option
      value="{{ .key }}" {{ if eq .key $def }}selected{{ end }}
    >
      {{ .label }}
    </option>
  {{- end -}}
</select>
