@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --mdai-primary-color: rgba(176, 98, 194, 1); 
}
/* changed to 1rem for Mydecisive */
@media only all and (max-width: 59.999rem) {
  a#R-logo.R-default {
    font-size: 1rem;
  }
}

.content {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.dark\:hx-text-primary-600:is(html[class~="dark"] *) {
  color: var(--mdai-primary-color);
  background-color: transparent;
}

.hx-bg-primary-100{
  color: var(--mdai-primary-color);
  background-color: transparent;
}